.containerNf {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.containerNf img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.containerNf h3 {
  margin-top: 32px;
  color: #282828;
  font-size: 64px;
  font-weight: 700;
}

.containerNf p {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 500;
  max-width: 600px;
  margin-top: 16px;
}

.containerNf button {
  margin-top: 32px;
  border: none;
  padding: 16px 56px;
  border-radius: 6px;
  background: green;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* ===== 768 ===== */
@media (max-width: 768px) {
  .containerNf h3 {
    font-size: 48px;
  }
}

/* ===== 480 ===== */
@media (max-width: 480px) {
  .containerNf h3 {
    font-size: 36px;
  }

  .containerNf p {
    font-size: 16px;
  }

  .containerNf button {
    width: 100%;
    max-width: 220px;
    font-size: 16px;
  }
}

/* ===== 360 ===== */
@media (max-width: 360px) {
  .containerNf h3 {
    font-size: 28px;
  }
}
